
ul>li>a:hover{
    color:rgb(255,255,255);
}
ul>li>a{
    color:rgb(33,33,33);
}


.hoverClass1:hover{
    color:rgb(255,255,255);
}
.hoverclass2:hover{
    color: (33,33,33);
}

img{
    max-width: 100%;
    height: auto;
}
.nav{
    list-style: none;
    padding: 0%;
}

.pics-top{
    margin-bottom: 5%;
}

.dropdown{
    margin: 10px;
    font-weight: bold;
}

li{
    text-align:center;
}

#name{
    font-size: 80px;
}

.dark{
    background-color:rgb(33, 33, 33);
    color: rgb(189,133,248);
}

#theme{
    background-color:rgb(209,209,209);
    color: rgb(33,33,33);
}

#logo{
    height:200px;
    width: 200px;
}