body{
    background-color:rgb(209,209,209);
}

.nav{
    list-style: none;
    padding: 0%;
}


.dropdown{
    margin: 10px;
    font-weight: bold;
}

li{
    text-align:center;
}

#name{
    font-size: 80px;
}

.dark{
    background-color:rgb(33, 33, 33);
    color: rgb(189,133,248);
}

#theme{
    background-color: #fff;
}